{{>nav}}

{{#each stylist}}
<div class="col s12">
    <div class="container">
        <div class="card grey lighten-4">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <img class="circle responsive-img" src="{{this.imageURL}}">
                    </div>
                    <div class="col s6">
                        <ul>
                            <li>{{this.first_name}}</li>
                            <li>{{this.last_name}}</li>
                            <li>{{this.address}}</li>
                            <li>{{this.phone}}</li>
                            <li class="chip red lighten-3 white-text">
                                <a class="white-text" href="/appointment/:id" value="{{this.start_time}}">
                                    <h6><strong>Schedule for </strong>{{this.start_time}}</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}