{{> nav}}

<div class="container">
    <div class="col s12 card">

        <img class="responsive-img circle" src="{{user.imageURL}}" alt="">
        <h4 class="black-text center-align">{{user.first_name}} {{user.last_name}}</h4>
        <br>
        <h5 class="black-text center-align">Email: {{user.email}}</h5>
        <br>
        <h5 class="black-text center-align">Phone: {{user.phone}}</h5>
    </div>
</div>