{{> nav}}

{{#each profile}}
<div class="container">
    <div class="col s12 card center">
        <br />
        <img class="responsive-img circle" src="{{this.imageURL}}" alt="profile image">
        <h4 class="black-text center-align"><strong>{{this.first_name}} {{this.last_name}}</strong></h4>
        <br>
        <h5 class="black-text center-align">Email: {{this.email}}</h5>
        <br>
        <h5 class="black-text center-align">Phone: {{this.phone}}</h5>
        <br />
    </div>
</div>
{{/each}}